---
Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-identifier-length
HeaderFilterRegex: 'guide_robot_hardware/.*'
